<!-- Section Slider -->
<section class="section-slider" id="slider1">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-half">
              <div class="slide-img">
                <img class="" src="./images/content/slide1.png" alt="" />
              </div>
            </div>
            <div class="slide-half slide-text">
              <h3 class="slide__title">Kā mēs to panākam?</h3>
              <ul class="slide-list">
                <li class="slide-list__item">
                  <strong>Cashback:</strong> Pircēji mūsu partneru veikalos saņem noteiktu procentu no pirkuma summas
                  atpakaļ savā elektroniskajā makā.
                </li>
                <li class="slide-list__item">
                  <strong>Noderīgi bonusi:</strong> Izmantojot uzkrāto cashback, pircēji var norēķināties par jauniem
                  pirkumiem jūsu veikalos, kā arī apmaksāt pilsētas autostāvvietas vai sabiedriskā transporta biļetes.
                </li>
                <li class="slide-list__item">
                  <strong>Dažādi scenāriji:</strong> Uzkrātajiem bonusiem ir dažādi izmantošanas scenāriji: dažos
                  gadījumos bonusi tiek reizināti, bet citos gadījumos tie izgaist. Tas viss ir atkarīgs no
                  izvirzītajiem mērķiem.
                </li>
                <li class="slide-list__item">
                  <strong>Motivācijas programmas:</strong> Aktīvajiem pircējiem mēs, piemēram, izlozējam bezmaksas
                  biļetes uz kino vai piedāvājam atlaides taksometra braucieniem.
                </li>
                <li class="slide-list__item">
                  <strong>Pakalpojumu apmaksa:</strong> Izmantojot lietotni, pircēji var apmaksāt komunālos vai
                  telekomunikāciju pakalpojumus, iepriekš papildinot savu maku jūsu kasē, kā arī iegādāties
                  aktivizācijas kodus simtiem populāru spēļu.
                </li>
                <li class="slide-list__item">
                  <strong>Papildu priekšrocības:</strong> Mums ir vairāki efektīvi risinājumi, kas jums neko nemaksā,
                  bet ļoti ietekmē lojalitāti. Par tiem esam gatavi pastāstīt personīgi.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-half slide-text">
              <h3 class="slide__title">Kā mainās lojālo pircēju ieradumi?</h3>
              <ul class="slide-list">
                <li class="slide-list__item">
                  83% patērētāju apgalvo, ka lojalitātes programmas motivē viņus iepirkties konkrētā veikalā (Invesp).
                </li>
                <li class="slide-list__item">
                  Lojalitātes programmu dalībnieki tērē par 12-18% vairāk nekā tie, kuri nepiedalās šādās programmās
                  (Zinrelo Loyalty Rewards).
                </li>
                <li class="slide-list__item">
                  Lojalitātes programmas var palielināt veikala apmeklējumu par līdz pat 60% (PaymentsJournal).
                </li>
                <li class="slide-list__item">Lojāli klienti parasti iepērkas par 67% vairāk (Invesp).</li>
                <li class="slide-list__item">
                  Attiecību uzturēšana ar esošajiem klientiem ir 5-25 reizes lētāka nekā jaunu klientu piesaistīšana
                  (Zinrelo Loyalty Rewards).
                </li>
              </ul>
            </div>
            <div class="slide-half">
              <div class="slide-img">
                <img class="" src="./images/content/statistic.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-half">
              <div class="slide-img slide-img--center">
                <img class="" src="./images/content/slide3.png" alt="" />
              </div>
            </div>
            <div class="slide-half slide-text">
              <h3 class="slide__title">var uzsākt lojalitātes programmu jūsu veikalā mēneša laikā. Kā?</h3>
              <p class="text__thin">
                Lai aprēķinātu un piešķirtu bonusus, mēs izmantojam vienkāršu tehnisko risinājumu: nelielu termināli pie
                kases, kuru mēs uzstādīsim bez maksas, un mobilo lietotni, kuru pielāgosim jūsu vajadzībām. Terminālis
                nav integrēts ar kases sistēmu, kas ļauj mums uzsākt pakalpojumu īsā
              </p>
              <br />
              <p class="text__thin">laikā. Līdz tam nepieciešams:</p>
              <br />
              <ul class="slide-list">
                <li class="slide-list__item">
                  Izvēlēties vienu no mūsu efektīvajiem lojalitātes programmas scenārijiem.
                </li>
                <li class="slide-list__item">
                  Parakstīt līgumu, pēc kura mēs pielāgosim mobilo lietotni, uzstādīsim termināļus un apmācīsim
                  kasierus.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-half slide-text">
              <h3 class="slide__title">Kā darbojas “terminālis - mobilā lietotne - kase” saikne?</h3>
              <ul class="slide-list">
                <li class="slide-list__item">Lai saņemtu vai iztērētu bonusus, pircējs skenē QR kodu.</li>
                <li class="slide-list__item">
                  Uz termināļa ekrāna parādās logs, kurā kasieris ievada pirkuma summu. Bonusi tiek automātiski
                  aprēķināti un pievienoti pircēja makam reālajā laikā.
                </li>
                <li class="slide-list__item">
                  Šajā pašā termināļa ekrānā tiek norādīta uzkrāto bonusu summa. Ja pircējs vēlas tos izmantot,
                  kasieris, nospiežot termināļa ekrānā pogu “Izmantot bonusus”, ievada izdevumu summu (visu vai daļu) un
                  samazina maksājamo summu kasē.
                </li>
                <li class="slide-list__item">Terminālis izdrukā čeku, kas apstiprina katru operāciju.</li>
                <li class="slide-list__item">
                  Tas ir ātrs lojalitātes programmas uzsākšanas veids, bez izdevumiem par iekārtām un integrāciju no
                  partneru puses. Mēs varam realizēt risinājumu, kur dati starp kasi un termināli tiek apmainīti
                  automātiski, bez kasiera līdzdalības, taču tas prasa integrāciju ar kases sistēmu.
                </li>
              </ul>
            </div>
            <div class="slide-half">
              <div class="slide-img slide-img--center">
                <img class="" src="./images/content/slide4.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-half">
              <div class="slide-img slide-img--center">
                <img class="" src="./images/content/card.png" alt="" />
              </div>
            </div>
            <div class="slide-half slide-text">
              <h3 class="slide__title">Un kā ar plastikāta lojalitātes kartēm?</h3>
              <ul class="slide-list">
                <li class="slide-list__item">
                  Mēs uzskatām tās par novecojušu tehnoloģiju. Un arī visa pasaule. Bet, iespējams, jūsu klientu vidū
                  ir, piemēram, pensionāri, kuriem tās patiešām ir nepieciešamas. Mēs varam atsevišķi izstrādāt un
                  saražot nepieciešamo karšu skaitu pēc jūsu pasūtījuma.
                </li>
                <li class="slide-list__item">
                  Ja vēlaties, lai kartes būtu bez maksas jūsu veikalam, mēs aicināsim kredītiestādi realizēt
                  kopprojektu. Banka pievienos kartei maksājumu pakalpojumus (Visa vai MasterCard), apmaksās to
                  izgatavošanu un piegādi. Jūsu klienti saņems ne tikai lojalitātes karti, bet arī pilnvērtīgu bankas
                  maksājumu karti.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-half slide-text">
              <h3 class="slide__title">Ko spēj mobilā lietotne?</h3>
              <div class="slide-text--gap">
                <p class="text__thin">
                  mobilā lietotne ir elektronisks maks, kas ne tikai aprēķina un piešķir bonusus un cashback, bet arī
                  glabā reālus finanšu līdzekļus. Turklāt dažādās valūtās. Tas padara lietotni par universālu
                  instrumentu finansiālo līdzekļu un bonusu pārvaldīšanai.
                </p>
                <p class="text__thin">
                  Tomēr tās iespējas ar to nebeidzas! Lietotne ļauj lietotājiem veikt maksājumus un pārskaitījumus,
                  apmaksāt komunālos un telekomunikāciju pakalpojumus, kā arī iegādāties spēļu un programmatūras
                  aktivizācijas kodus.
                </p>
                <p class="text__thin">
                  Saskaņā ar likumdošanas prasībām, veic klientu identifikāciju, sasniedzot noteiktus limitus. Tas
                  ietver AML (Anti-Money Laundering) un KYC (Know Your Customer) procedūru ieviešanu, kas nodrošina
                  drošību un atbilstību normatīvajām prasībām, droši aizsargājot lietotāju finanšu darījumus.
                </p>
                <p class="text__thin">
                  Lietotne tiek integrēta ar mūsu termināliem, skenējot QR kodus. Tas atvieglo bonusu aprēķināšanu un
                  piešķiršanu. Mēs varam arī realizēt preču un pakalpojumu apmaksu jūsu veikalā, izmantojot QR kodu,
                  līdzīgi kā ar bonusu izmantošanu.
                </p>
                <p class="text__thin">
                  lietotne ir spēcīgs finanšu līdzekļu un bonusu pārvaldības rīks, kas lietotājiem nodrošina maksimālu
                  ērtību un drošību.
                </p>
              </div>
            </div>
            <div class="slide-half">
              <div class="slide-img slide-img--center">
                <img class="" src="./images/content/slide6.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mySwiper-nav">
        <div class="swiper-button-prev mySwiper-nav__btn"></div>
        <div class="swiper-button-next mySwiper-nav__btn"></div>
      </div>
    </div>
    <div class="labels">
      <div class="labels__item">
        <div class="labels__badge labels__badge--yellow"></div>
        <div class="labels__label">Visas nepieciešamās maksājumu iespējas vienuviet</div>
      </div>
      <div class="labels__item">
        <div class="labels__badge labels__badge--purple"></div>
        <div class="labels__label">Viegla integrācija</div>
      </div>
      <div class="labels__item">
        <div class="labels__badge labels__badge--darkSlateBlue"></div>
        <div class="labels__label">Paaugstināta klientu apmierinātība</div>
      </div>
      <div class="labels__item">
        <div class="labels__badge labels__badge--darkSlateBlue"></div>
        <div class="labels__label">Papildu ieņēmumu avoti</div>
      </div>
      <div class="labels__item">
        <div class="labels__badge labels__badge--yellow"></div>
        <div class="labels__label">Droša un efektīva maksājumu apstrāde</div>
      </div>
    </div>
  </div>
</section>
<!-- End Section Slider -->
