<!DOCTYPE html>
<html lang="lv" data-attr-t lang-t="lang">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-t="footer.topUpCodes">Game Codes</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-K5BPG0X7GE');
    </script>
    <!-- Start cookieyes banner -->
    <script
      id="cookieyes"
      type="text/javascript"
      src=""
    ></script>
    <!-- End cookieyes banner -->
  </head>
  <body>
    <!-- Header -->
    <%= require('html-loader!./templates/header.html').default %>
    <!-- End Header -->
    <main>
      <!-- Banner -->
      <section class="solution-banner">
        <div class="container">
          <div class="solution-banner__inner">
            <h1 class="h1 text-center" data-t="privateCustomers.topUpCodesForGames">
              Spēļu un straumējošo platformu bilances papildināšanas kodi
            </h1>
            <p class="text-center text__thin white" data-t="privateCustomers.weOfferYouConvenientWay">
              Piedāvājam jums ērtu veidu, kā papildināt bilanci uz populārām spēļu un straumējošām platformām. Dodaties
              tuvākajā partneru veikalā, izvēlieties nepieciešamo produktu, pasakiet kasierim produkta nosaukumu un
              nominālu, veiciet pirkumu un saņemiet čeku ar kodu. Koda aktivizēšanas instrukcija ir izdrukāta uz čeka,
              kā arī pieejama mūsu mājaslapā.
            </p>
          </div>
        </div>
      </section>
      <!-- End Banner -->

      <section class="game-describe">
        <div class="container">
          <p class="game-describe__text" data-t="privateCustomers.aFeeIsChargedForThisService">
            Par pakalpojumu tiek piemērota komisijas maksa. Par pakalpojuma nosacījumiem varat iepazīties šajā vietnē.
            Izmantojot pakalpojumu, jūs apliecināt, ka esat iepazinies ar pakalpojuma nosacījumiem un piekrītat tiem.
            Izmantojiet mūsu pakalpojumus un baudiet neierobežotu piekļuvi savām iecienītajām spēlēm un straumējošajiem
            pakalpojumiem!
          </p>
        </div>
      </section>

      <section class="game-code">
        <div class="container">
          <div class="headline">
            <h2 class="h2 headline__title" data-t="privateCustomers.instructionsForActivatingTheCode">
              Instrukcijas koda aktivizēšanai
            </h2>
          </div>
          <div class="game-code__inner">
            <div class="game-code__img">
              <img id="game-image" src="./images/content/steam-1.jpg" alt="" />
            </div>
            <div class="game-code__content">
              <h3 class="h3 mb10" data-t="product">Produkts:</h3>
              <select class="mySelect1">
                <!-- <option value="0">Izvēlēties produktu</option> -->
                <option value="1">1. Xbox Game Pass Ultimate</option>
                <option value="2">2. Blizzard Gift Card</option>
                <option value="3">3. Discord Gift Card</option>
                <option value="4">4. EA Gift Card</option>
                <option value="5">5. Free Fire Diamonds</option>
                <option value="6">6. Netflix gift card</option>
                <option value="7">7. Nintendo Gift Card</option>
                <option value="8">8. Nintendo Switch Online</option>
                <option value="9">9. NordVPN gift card</option>
                <option value="10">10. PUBG Mobile Gift Card</option>
                <option value="11">11. PUBG: New State Gift Card</option>
                <option value="12">12. Razer Gold Gift Card</option>
                <option value="13">13. Riot Access Gift Card</option>
                <option value="14">14. Roblox Gift Card</option>
                <option value="15">15. Steam Wallet Code</option>
                <option value="16">16. Xbox Game Pass Core</option>
                <option value="17">17. Xbox Gift Card</option>
                <option value="18">18. Apex Legends Coins | Origin</option>
              </select>
              <div id="game-describe" class="mt20">
                <!-- <h3 class="h3 mb10 mt20">Produkta apraksts:</h3> -->

                <div>
                  <h3 class="h3 mb10" data-t="productDescription">Produkta apraksts:</h3>

                  <p class="text__thin mb10" data-t="product1.text1">
                  Spēlē jaunas spēles jau pirmajā dienā un izbaudi simtiem augstas kvalitātes spēļu uz konsoles, PC un mākonī. Ar Ultimate vienmēr būs kaut kas jauns, ko spēlēt.
                  </p>
                  <p class="text__thin mb10" data-t="product1.text2">
                  Iegūsti visas Ultimate priekšrocības:
                  </p>
                  <div class="ml30">
                      <p class="text__thin mb10" data-t="product1.text3">
                      - Ietver tiešsaistes vairāku spēlētāju režīmu uz konsoles
                      </p>
                      <p class="text__thin mb10" data-t="product1.text4">
                      -EA Play abonements bez papildu maksas
                      </p>
                      <p class="text__thin mb10" data-t="product1.text5">
                      -	Spēlē savas iecienītās spēles vairākās ierīcēs ar mākoņspēļu palīdzību
                      </p>
                      <p class="text__thin mb10" data-t="product1.text6">
                      - Lejupielādē un spēlē uz savas konsoles vai Windows PC
                      </p>
                      <p class="text__thin mb10" data-t="product1.text7">
                      -	Pelniet atlīdzības punktus, spēlējot spēles no Game Pass kataloga
                      </p>
                      <p class="text__thin mb10" data-t="product1.text8">
                      -	Izbaudi bezmaksas bonusus, tostarp spēles saturu, patēriņa preces un vairāk
                      </p>
                      <p class="text__thin mb10" data-t="product1.text9">
                      -	Jaunas spēles tiek pievienotas regulāri, tostarp izlaidumi pirmajā dienā
                      </p>
                      <p class="text__thin mb10" data-t="product1.text10">
                      -	Saņem augstākās kvalitātes dalības priekšrocības, piedāvājumus un atlaides
                      </p>
                  </div>
                  <h3 class="h3 mb10" data-t="product1.text11">
                  Кoda aktivizācijas instrukcija:
                  </h3>
                  <p class="text__base mb30" data-t="product1.text12">
                  Xbox Series X|S Xbox One ierīcē:
                  </p>
                  <p class="text__thin mb10" data-t="product1.text13">
                   1. Pierakstieties savā kontā Xbox konsolē
                  </p>
                  <p class="text__thin mb10" data-t="product1.text14">
                  2. Sākuma ekrānā izvēlieties un atveriet programmu «Store».
                  </p>
                  <p class="text__thin mb30" data-t="product1.text15">
                  3. Lai atvērtu sānu izvēlni, «Store» lietotnē pārvietojiet kursoru pa kreisi vai nospiediet pogu «View» uz kontroliera, lai atvērtu sānu izvēlni.
                  </p>
                  <p class="text__thin mb10" data-t="product1.text16">
                  4. Šajā izvēlnē izvēlieties «Redeem».
                  </p>
                  <p class="text__thin mb10" data-t="product1.text17">
                  5. Ievadiet 25 rakstzīmju kodu un pēc tam izpildiet norādījumus
                  </p>

                  <p class="text__base mb30" data-t="product1.text18">
                  No tīmekļa pārlūkprogrammas:
                  </p>
                  <div class="ml30">
                      <p class="text__thin mb10" data-t="product1.text19">
                      1. Tīmekļa pārlūkprogrammā dodieties uz redeem.microsoft.com.
                      </p>
                      <p class="text__thin mb10" data-t="product1.text20">
                      2. Pierakstieties savā kontā, ievadiet 25 rakstzīmju kodu un izpildiet norādījumus.
                      </p>
                  </div>
                  <h3 class="h3 mb10" data-t="product1.text21">Operētājsistēmā Windows 10/11:</h3>
                  <p class="text__thin mb10" data-t="product1.text22">
                  1. Tīmekļa pārlūkprogrammā dodieties uz redeem.microsoft.com.
                  </p>
                  <p class="text__thin mb10" data-t="product1.text23">
                  2. Pierakstieties savā kontā Windows ierīcē.
                  </p>
                  <p class="text__thin mb10" data-t="product1.text24">
                  3. Nospiediet pogu Sākums un izvēlieties «Microsoft Store».
                  </p>
                  <p class="text__thin mb10" data-t="product1.text25">
                  4. Izvēlieties «More» ... > «Redeem a code».
                  </p>
                  <p class="text__thin mb10" data-t="product1.text26">
                  5. Ievadiet 25 rakstzīmju kodu un izpildiet norādījumus.
                  </p>
            </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="accordion-section">
        <div class="container">
          <p class="text__base accordion-section__title">Biežāk Uzdotie Jautājumi</p>
          <div class="accordion-section__inner">
            <button class="accordion">
              <span>Jautājums 1</span>
              <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15 1.5C15 0.947715 14.5523 0.5 14 0.5C13.4477 0.5 13 0.947715 13 1.5V13.5L1 13.5C0.447716 13.5 0 13.9477 0 14.5C0 15.0523 0.447716 15.5 1 15.5L13 15.5V27.5C13 28.0523 13.4477 28.5 14 28.5C14.5523 28.5 15 28.0523 15 27.5V15.5L27 15.5C27.5523 15.5 28 15.0523 28 14.5C28 13.9477 27.5523 13.5 27 13.5L15 13.5V1.5Z"
                  fill="currentColor"
                />
              </svg>
            </button>
            <div class="accordion__desc">
              <p class="text__thin">Atbilde 2</p>
            </div>
            <button class="accordion">
              <span>Jautājums 2</span>
              <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15 1.5C15 0.947715 14.5523 0.5 14 0.5C13.4477 0.5 13 0.947715 13 1.5V13.5L1 13.5C0.447716 13.5 0 13.9477 0 14.5C0 15.0523 0.447716 15.5 1 15.5L13 15.5V27.5C13 28.0523 13.4477 28.5 14 28.5C14.5523 28.5 15 28.0523 15 27.5V15.5L27 15.5C27.5523 15.5 28 15.0523 28 14.5C28 13.9477 27.5523 13.5 27 13.5L15 13.5V1.5Z"
                  fill="currentColor"
                />
              </svg>
            </button>
            <div class="accordion__desc">
              <p class="text__thin">Atbilde 2</p>
            </div>
            <button class="accordion">
              <span>Jautājums 3</span>
              <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15 1.5C15 0.947715 14.5523 0.5 14 0.5C13.4477 0.5 13 0.947715 13 1.5V13.5L1 13.5C0.447716 13.5 0 13.9477 0 14.5C0 15.0523 0.447716 15.5 1 15.5L13 15.5V27.5C13 28.0523 13.4477 28.5 14 28.5C14.5523 28.5 15 28.0523 15 27.5V15.5L27 15.5C27.5523 15.5 28 15.0523 28 14.5C28 13.9477 27.5523 13.5 27 13.5L15 13.5V1.5Z"
                  fill="currentColor"
                />
              </svg>
            </button>
            <div class="accordion__desc">
              <p class="text__thin">Atbilde 2</p>
            </div>
          </div>
        </div>
      </section> -->

      <!-- Subscribe -->
      <%= require('html-loader!./templates/form.html').default %>
      <!-- End Subscribe -->
    </main>
    <!-- Footer -->
    <%= require('html-loader!./templates/footer.html').default %>
    <!-- End Footer -->
  </body>
</html>
